 body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
 }
  .bar {
    margin: 25px;
    max-width: 100%;
    height : 35px;
    max-width: 100%;
    border-radius: 30px;
    background-color:rgb(177, 196, 179);
    align-items : center;
    display: flex;
    gap: 20px;
    }
    .container{
        background-image: url('bsbg.jpeg');
        border-radius: 50px;
        padding-left:100px;
        padding-right:100px;
        padding-bottom:150px;
        padding-top:20px;
        margin: 20px;
    }
.nav {
    display: flex;
    margin-left: auto;  
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}
        .d-box {
        max-width: 100%;
        background: rgb(177, 196, 179);
        padding: 60px;
        border-radius: 60px;
        margin-top: 50px;
        position: relative;
        top: 100px;
        text-align: center;
        height: 440px;
        box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);
    }
     .d-box2 {
        max-width: 100%;
        background: rgb(90, 105, 87);
        padding: 60px;
        border-radius: 60px;
        margin-top: 120px;
        position: relative;
        top: -60px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 600px;
        box-shadow: 30px 30px 30px 30px rgba(0,0,0,0.2);
    }
     .d-bg{
        max-width: 100%;
        background: rgb(55, 73, 52);
        padding: 60px;
        margin-top: 120px;
        position: relative;
        z-index: -1;
        top: -70px;
        text-align: center;
        height: 950px;
     }
    .element{
        background-color: rgb(55, 73, 52);
        border-radius: 30px;
        align-items: center;
        height: 50px;
        width: 300px;
        text-align: center;
        display: block;
        box-shadow: 8px 8px 10px rgba(0,0,0,0.2);
    }
    .element2{
        background-color: rgb(55, 73, 52);
        border-radius: 40px;
        align-items: center;
        height: 200px;
        width: 250px;
        box-shadow: 8px 8px 10px rgba(0,0,0,0.2); 
        text-align: center;
        display: flex;
        flex-direction: column;       
    }
    .al0{
         display: flex;
    }
    .al{
       display: flex;
       justify-content: space-between;
       margin-left: 50px;
         margin-right: 50px;
    }
    .min-but{
            background-color: rgb(55, 73, 52);
    height: 40px;      
    width: 150px;           
    border-radius: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px;
    text-align: center;
    }
    .min-but:hover{
        background-color: rgb(101, 101, 101);
        color: rgb(255, 255, 255);
    }
    .but2{
    background-color: rgb(203, 203, 203);
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto -25px; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    text-align: center;
    }

    .products{
        padding-top: 50px;
    max-width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    }
    .col{
        flex-basis:25px;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
    border-radius: 20px; 
      font-family: 'Space Mono', monospace;
    }
    .col img{
        width: 180px;
        height: 240px;
        border:7px solid rgb(230, 230, 230);
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        }
        .col p{
        font-size: 12px;
        opacity: 85%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        }
    .col h6{
        margin-top: 5px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        opacity: 80%;
        color: white;
    }
        .col h5{
        margin-top: 5px;
        font-weight: bold;
        opacity: 80%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(55, 73, 52);
        border-radius: 5px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }
    .footer {
        margin-top: 50px;
    background-color: rgb(55,73,52);
    color: white;
    padding: 20px 400px;
    display: flex;
    justify-content: space-around;   
    align-items: center;              
    opacity: 60%;
    border-radius: 50px 50px 0 0;
    }
.addtocart{
    margin-top: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(55, 73, 52);
        border-radius: 5px;
        color: white;
        padding: 1px;
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.addtocart:hover{
    background-color: rgb(177, 196, 179);
    color:  rgb(55, 73, 55);
    cursor: pointer;
}
  #cartAlert {
    display: none;
    padding: 10px 20px;
    background-color: white;
    color:  rgb(55, 73, 55);
    border: 3px solid  rgb(55, 73, 55);
    border-radius: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
  }  
  .section{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
   max-width: 100%;
   margin-left: 45px;
    margin-right: 45px;
    margin-top: -120px;
     padding: 60px;
    gap: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 30px 30px 30px 30px rgba(0,0,0,0.2);
 }